[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pytest = "*"
"flake8" = "*"
codecov = "*"
pytest-cov = "*"
requests-mock = "*"
v = {editable = true,version = "*"}

[packages]
pika = "*"
jinja2 = "*"
redis = "*"

[requires]
python_version = "3.6"
